<html>
    <head>
        <title>Tornado REST API</title>
        <link rel="stylesheet" href="../static/client.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div>
            Usage of the API:</br>
            <a href="/api/v1/books/">/api/v1/books/</a> - get info about books<br>
            <a href="/api/v1/prices/">/api/v1/prices/</a> - get info about prices<br>
            <a href="/api/v1/messages/">/api/v1/messages/</a> - get messages<br>

            <ul id="msgList"></ul>
            <input id="msg" placeholder="Send message"><br>
            <button onclick="sendMsg()">Send message</button>
        </div>
        <script src="../static/client.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
